@box-radius: 0.3em;

// Message box
@message-padding: 0.5em;
@message-font-size: 15px;
@message-shadow: 0 3px 3px 0 #cbcbcb;

.message-shadow(@shadow: @message-shadow) {
    .box-shadow(@shadow);
}

// Guest side
@focus-bg-color: #2b7dcb;
@focus-text-color: #ffffff;

@main-color: #2b7dcb;

// Staff side
@main-text-color: #414141;
@main-bg-color: #ffffff;

@main-border-color: solid 1px #97c2eb;

// Info items (like Hotel name, Time, is Read, ... )
@info-color: #414141;
@info-font-size: 10px;
@info-padding: 0.5em;

@block-background: rgba(0, 0, 0, 0.5);
